 <div class="container h-100 d-flex justify-content-center align-items-center text-center flex-column">
    <h1>Result</h1>
    <div id="message" class="message">
        <p><%= @result %></p>
    </div>
    <%= link_to "New Game", new_path, class: "btn btn-primary" %>
</div>
